---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    title: "TeleJS",
    desc: [
      "Built a lightweight, open-source Slack API framework for efficient bot development",
      "Developed in Node.js and published as an NPM package"
    ],
    tech: ["Node.js", "NPM"]
  },
  {
    title: "pyPrompter",
    desc: [
      "Contributed to a popular open-source Python pip package for building interactive CLIs",
      "Developed a feature that lets you 'freeze' inquirer choices"
    ],
    tech: ["Python"]
  },
  {
    title: "WebAssetHub",
    desc: [
      "Created a web scraper tool that monitors digital assets across multiple platforms and offers them at competitive prices",
      "Sold over 700 items"
    ],
    tech: ["Python", "Selenium"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Personal Projects | Sam Bernstein" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
