---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "CodeCraft",
    desc: [
      "Developed a large-scale e-commerce platform for indie game developers",
      "Designed and implemented UI, backend, and database architecture",
      "Contributed to RESTful API and GraphQL design",
      "Led a team of three engineers for several months"
    ],
    tech: ["React", "Next.js", "Node.js", "MongoDB", "Heroku"]
  },
  {
    title: "CloudMason",
    desc: [
      "Contributed to microservices architecture design for email distribution system",
      "Created a backend infrastructure with queues and an event bus",
      "Designed to handle a high volume ~3 million emails per day"
    ],
    tech: ["Node.js", "RabbitMQ", "Docker", "Kubernetes"]
  },
  {
    title: "Sarah (HealthEase.io)",
    desc: [
      "Contributed to Israel's largest telehealth platform for doctors and patients",
      "Developed appointment and billing systems",
      "Resolved live production bugs and server issues"
    ],
    tech: ["React", "Node.js", "Express.js", "MySQL", "AWS"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Software Development | Sam Bernstein" />
  <body>
    <div class="content">
        <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
