---
const { selectedItem } = Astro.props;
---

<aside data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="sidebar w-nav">
  <div class="nav-content">
    <a href="/" class="w-nav-brand" aria-label="home">
      <div class="niv-data">
        <img src="/assets/6429cd3862519374fd5d7e2b_niv.jpeg" loading="eager" sizes="48px" srcset="/assets/sam-500.jpg 500w, /assets/sam-500.jpg 607w" alt="" class="niv-image">
        <div>
          <div class="label-white">Sam Bernstein</div>
          <div class="label-gray">Software Engineer</div>
        </div>
      </div>
    </a>
    <nav role="navigation" class="w-nav-menu">
      <a href="/" class={`nav-link-container w-inline-block ${selectedItem === 'home' ? 'w--current' : ''}`}>
        <img src="/assets/642f186133cd3147a0f8542e_home_FILL0_wght0_GRAD0_opszNaN.svg" loading="eager" alt="" class="nav-link-image">
        <div>Home</div>
      </a>
      <a href="/software-development" class={`nav-link-container w-inline-block ${selectedItem === 'software-development' ? 'w--current' : ''}`} aria-current={selectedItem === 'software-development' ? 'page' : undefined}>
        <img src="/assets/642f1861a60d17b0ba9b5cbe_deployed_code_FILL0_wght0_GRAD0_opszNaN.svg" loading="eager" alt="" class="nav-link-image">
        <div>Software development</div>
      </a>
      <a href="/devops" class={`nav-link-container w-inline-block ${selectedItem === 'devops' ? 'w--current' : ''}`}>
        <img src="/assets/642f1862e345585434db2798_dns_FILL0_wght0_GRAD0_opszNaN.svg" loading="eager" alt="" class="nav-link-image">
        <div>DevOps</div>
      </a>
      <a href="/personal-projects" class={`nav-link-container w-inline-block ${selectedItem === 'personal-projects' ? 'w--current' : ''}`}>
        <img src="/assets/favorite_FILL0_wght0_GRAD0_opszNaN.svg" loading="eager" alt="" class="nav-link-image">
        <div>Personal projects</div>
      </a>
    </nav>
    <div class="navbar-icon-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0">
      <img src="/assets/menu_FILL0_wght300_GRAD0_opsz40.svg" loading="eager" alt="" class="navbar-icon">
    </div>
  </div>
</aside>
